---
---
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="./assets/css/style.css">
    <!-- Computer Modern (phông chữ của LaTeX) -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/bitmaks/cm-web-fonts@latest/fonts.css"> 
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="Margins">
      <p class="LatexTitle">{{ page.title }}</p>
      {% if page.author %} <p class="LatexName">{{ page.author }}</p> {% endif %}
      {% if page.date %} <p class="LatexDate">{{ page.date }}</p> {% endif %}
      
      {% if page.abstract %}<div class="AbstractMargins">
        <p class="LatexAbstract">Abstract</p>
        <p class="LatexAbstractText">{{ page.abstract }}</p>
      </div>{% endif %}

      {{ content }}

    </div>
    
    <!-- Mathjax -->
    <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>

    <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
    </script>
    <script>
    MathJax = {
      tex: {
        tags: 'ams'  // or 'all'
      }
    };
    </script>
    <script>
      function zoomOut() {
      let img = document.getElementById("myImage");
        img.style.width = (img.clientWidth - 50) + "px"; // Reduces width by 50px
      }
    </script>
  </body>
</html>